.lp-footer {
    background-color: rgb(23, 24, 32);
    color: white;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    justify-content: space-between;
    column-gap: 5vw;
    margin: auto 5vw;
  }
  
  a {
    font-size: 13px;
    text-decoration: none;
    color: white;
  }
 
  .footer-company,
  .footer-links {
    display: flex;
    flex-direction: column;
  }
  

  .footer-follow-us-logos {
    display: flex;
    align-items: center;
  }
  .footer-follow-us img {
    width: 20px;
    height: 20px;
    margin-right: 1vw;
  }
  .footer-links a:hover {
    color: #c92d45; /* Change to red on hover */
  }
  
  @media only screen and (max-width: 786px) {
    .lp-footer {
      grid-template-columns: 2fr 1fr;
      gap: 20px;
    }
    .lp-footer:nth-child(4) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer-links {
      margin-top: 20px;
    }
  }
  @media only screen and (max-width: 600px) {
    .lp-footer {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .lp-footer:nth-child(4) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer-links {
      margin-top: 20px;
    }
  }
  