/* Footer Container */
.lp-footer {
  background-color: transparent !important;
  color: white;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  justify-content: space-between;
  column-gap: 5vw;
  margin: 0 auto;  /* Ensure no additional margins */
  padding: 20px 5vw; /* Padding adjusted for proper spacing */
  width: 100%;
  text-align: center;
}

/* Adjust the footer-den-info to stack the GIF and text vertically */
.footer-den-info {
  display: flex;
  flex-direction: column;  /* Stack the GIF and text vertically */
  align-items: center; /* Center-align the content */
  justify-content: center;
  margin-bottom: 10px;
}

.footer-den-info p {
  margin-top: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

/* Footer Links Section */
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center; /* Center text */
}

/* Follow Us Section */
.footer-follow-us {
  display: flex;
  flex-direction: column; /* Stack Follow Us items vertically */
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.footer-follow-us-logos {
  display: flex;
  align-items: center;
}

.footer-follow-us img {
  width: 30px;
  height: 30px;
  margin-right: 1vw;
}

.footer-links a:hover {
  color: #c92d45; /* Red color on hover */
}

/* Ensuring proper alignment and spacing between Quick Links and Follow Us */
.lp-footer .footer-links,
.lp-footer .footer-follow-us {
  align-items: center; /* Align items at the center */
  text-align: center; /* Make sure text inside is centered */
}

/* Mobile Layout Adjustments */
@media only screen and (max-width: 786px) {
  .lp-footer {
    padding: 10px;
  }

  .footer-den-info {
    margin-bottom: 15px;
    background-color: transparent !important;
  }
}
