/* Make sure the body and html take up the full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: #0d0d11;
  }
  
  /* Ensure the main content takes up available space */
  .book-apointment-container {
    padding: 0;
    margin: 0 5vw;
    flex-grow: 1; /* This ensures the content pushes the footer to the bottom */
  }
  
  .lp-footer {
    margin-top: auto; /* Push the footer to the bottom of the page */
    padding-top: 20px; /* Adjust padding if needed for spacing */
  }
  
  .time-button {
    border-color: rgb(199, 47, 72) !important;
    color: rgb(199, 47, 72) !important;
  }
  
  .time-button:hover {
    background-color: rgb(199, 47, 72) !important;
    color: white !important;
  }
  
  .time-button.selected {
    background-color: rgb(199, 47, 72) !important;
    color: white !important;
  }
  
  .text-white {
    color: white;
  }
  
  /* Adjustments for smaller screen sizes */
  @media (max-width: 991px) {
    .book-apointment-container {
      padding: 60px 0 0; /* Reduce padding on smaller screens */
    }
  }
  
  @media (max-width: 600px) {
    .book-apointment-container {
      padding: 50px 0 0; /* Further reduce padding on mobile */
    }
  }
  