/* Background color for the page */
.bg-color {
    background-color: #3263e9;
  }
  
  /* Align the login app in the center of the screen */
  .login-app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Container for the login form */
  .container {
    background-color: #ff8c00;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 12px; /* Rounded corners */
    width: 100%;
    max-width: 400px; /* Responsive width */
    padding: 40px;
    position: relative;
    color: white;
  }
  
  /* Sign-in container */
  .signin-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Login form styles */
  .login-form {
    width: 100%;
    color: white;
  }
  
  /* Heading style */
  .heading {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2em;
    color: white;
    text-align: center;
  }
  
  /* Input fields */
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  input[type='email']:focus,
  input[type='password']:focus {
    border-color: #3263e9;
    background-color: #e9f4ff;
    outline: none;
  }
  
  /* Remember Me and Forgot Password */
  .forgot-remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .remember {
    font-size: 0.9em;
    color: #666;
  }
  
  .forgot {
    font-size: 0.9em;
    color: #3263e9;
    text-decoration: none;
  }
  
  .forgot:hover {
    text-decoration: underline;
  }
  
  /* Login button */
  .bt {
    width: 100%;
    padding: 12px 15px;
    font-size: 1em;
    background-color: #3263e9;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .bt:hover {
    background-color: #274bb2;
  }
  