.our-services-container {
  margin: 0 auto; /* Centers the container */
  background-color: #171820; /* Gray background */
  padding: 0 5vw 40px; /* Add padding on left, right, and bottom to create gap */
  box-sizing: border-box; /* Ensures padding is accounted for */
}

.our-services-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  background-color: transparent; /* Make sure background is transparent */
}

.our-services-card {
  position: relative;
  background: rgb(24, 36, 49);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  overflow: hidden;
}

.our-services-card::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #C72F48;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.our-services-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.our-services-card:hover::after {
  transform: scaleX(1);
}

/* Mobile Layout Adjustments */
@media only screen and (max-width: 786px) {
  .our-services-container {
    padding: 0 5vw 20px;  /* Added bottom padding for mobile as well */
  }
}
