.the-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

/* Show the navbar */
.the-navbar.show {
    transform: translateY(0);
}

/* Hide the navbar */
.the-navbar.hide {
    transform: translateY(-100%);
}

/* When the navbar is transparent */
.the-navbar.transparent .nav-link {
    color: white; /* Make text white when navbar is transparent */
}

.the-navbar.transparent .nav-link span::after {
    background-color: #C72F48; /* White underline when transparent */
}

/* When the navbar is scrolled */
/* .the-navbar.scrolled { */
     /* Change to your desired background color */
     /* Optional shadow */
/* } */

.the-navbar.scrolled .nav-link {
    color: white; /* Normal text color when navbar is scrolled */
}

.the-navbar.scrolled .nav-link span::after {
    background-color: #C72F48; /* Change underline color when scrolled */
}

.nav-link {
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-link span {
    position: relative;
}

.nav-link span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: -2px; /* Adjust if needed */
    left: 0;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover {
    color: #C72F48; /* Change color on hover */
}

.nav-link:hover span::after {
    width: 100%;
}

.nav-link.active {
    color: #C72F48 !important; /* Active link color */
}

/* Hamburger icon adjustments for different states */
.the-navbar.transparent .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.the-navbar.scrolled .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(51,51,51,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: white;
    font-size: 0.875rem;
}

.the-navbar.scrolled .navbar-toggler {
    border-color: #333333;
}
.gradient-button {
    background: linear-gradient(45deg, rgb(199, 47, 72), rgb(120, 27, 43));
    font-family: "Roboto", sans-serif;/* Gradient background */
    color: white; /* Text color */
    padding: 8px 16px; /* Padding for button */
    font-size: 16px;
    
    border: none; /* Remove default border */
    border-radius: 14px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background 0.3s ease; /* Smooth transition */
}

/* Optional: Add hover effect */
.gradient-button:hover {
    background: linear-gradient(45deg, rgb(120, 27, 43), rgb(199, 47, 72)); /* Reverse gradient on hover */
}   

@media (max-width: 991.98px) {
    .navbar-collapse {
      position: absolute;
      top: 60px; /* Adjust this according to your navbar height */
      left: 0;
      width: 100%;
      background-color: #171820; /* Ensure the background matches the navbar */
      z-index: 1000;
      padding: 20px 5vw;
    }
  
    .navbar-collapse .nav-link {
      text-align: center; /* Center the links */
      width: 100%; /* Make links full width */
      margin: 10px 0; /* Add some space between links */
    }
  
    .navbar-toggler {
      margin-left: auto;
    }
  
    .navbar-brand {
      margin-right: auto;
    }
  }
  