/* Outer wrapper for the countup container (gray background) */
.countup-container {
    margin: 0 0 0vh;
    background-color: rgb(199, 47, 72); /* Reddish background */
    padding: 0 5vw;
    position: relative; /* Position relative for adding gray background */
}

/* Adding gray background on the outer side of the countup container */
.countup-container::before {
    content: '';
    position: absolute;
    top: -20px; /* Adjust this value to control how far the gray background stretches up */
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-color: #171820; /* Gray background */
    z-index: -1; /* Place behind the countup container */
    border-radius: 15px; /* Match the border-radius of the countup container */
}

/* Styling for countup value */
.countup-value {
    color: whitesmoke;
    margin: 20px 0 0;
}

/* Styling for countup label */
.countup-label {
    color: whitesmoke;
    margin: 0 0 20px;
}

/* Styling for the separator between the countup items */
.countup-separator {
    background-color: whitesmoke;
}
