/* src/components/ReviewCarousel/ReviewCarousel.css */

.review-carousel {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px 20px;
    background: linear-gradient(45deg, rgb(199, 47, 72), rgb(120, 27, 43));
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    height: auto; /* Set to auto to allow container to adjust to content */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .review-carousel:hover {
    animation: transform 0.4s ease-in-out; /* Apply the background transition on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.03); /* Smooth box-shadow effect on hover */
  }
  
  .review-slide {
    text-align: center;
    color: #f0f0f0;
    padding: 20px;
  }
  
  .review-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .review-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-bottom: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .review-text-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to prevent text from touching the edges */
    text-align: center; /* Center-align the text */
  }
  
  .review-text {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #ffffff;
    word-wrap: break-word; /* Ensure long words break properly */
  }
  
  .review-author {
    font-size: 1em;
    color: #ffcccc;
    margin-top: -5px;
  }
  .my-8{
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .geo {
    font-size: 35px ;
    font-weight: bold ;
  }
  